/*Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

/* Global styling variables */
:root { 
  --white: #FFFFFF;
  --black: #1E1E1E;   
  --pink-red: #FE6581; 
  --yellow: #FBEDD0;  
  --aqua: #B7D4D8;  
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Aoboshi One', sans-serif;
  box-sizing: border-box;
  color: var(--white);
  background: linear-gradient(to right, #FE6581 0%, #FBEDD0 59%, #B7D4D8 100%);
  text-align: justify;
}
 