<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/logo/final-logo.png">
    <title>Fruity Surprises</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <i class="fa-solid fa-arrow-left" id="arrow" onclick="window.location.href='../template/title.html'"></i>
    <h1 class="title">choose one ><</h1>
    <div class="buttons">
        <div class="button-container">
            <img src="../assets/watermelon.png" alt="Watermelon">
            <div class="button">
                <a href="../template/message-watermelon.html" class="button-link">CLICK ME</a>
            </div>
        </div>
        <div class="button-container">
            <img src="../assets/apple.png" alt="Apple">
            <div class="button">
                <a href="../template/message-apple.html" class="button-link">CLICK ME</a>
            </div>
        </div>
        <div class="button-container">
            <img src="../assets/strawberry.png" alt="Strawberry">
            <div class="button">
                <a href="../template/message-strawberry.html" class="button-link">CLICK ME</a>
            </div>
        </div>
        <div class="button-container">
            <img src="../assets/pear.png" alt="Pear">
            <div class="button">
                <a href="../template/message-pear.html" class="button-link">CLICK ME</a>
            </div>
        </div>
    </div>
</body>
</html>