<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Fruity Surprises</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/message.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <i class="fa-solid fa-arrow-left" id="arrow" onclick="window.location.href='../template/home.html'"></i>
    <div class="button">
        <img src="../assets/strawberry.png">
    </div>
    <div>
        <p>You’re as sweet and vibrant as a freshly picked strawberry, bringing a splash of color and joy to my days. Just like the best strawberries, you brighten every moment with your warmth and charm. I’m so lucky to have you in my life—you’re the berry best!</p>
    </div>
</body>
</html>