<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="#">
    <title>Fruity Surprises</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/message.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <a href="../template/home.html">&larr;</a>
    <div>
        <img href="../assets/apple.png">
    </div>
    <div>
        <p>You're as crisp and delightful as a perfectly ripe apple, bringing a refreshing flavor to every moment we share. Just like the best kind of apple pie, you add warmth and sweetness to my life. I’m so thankful for you—you truly are the apple of my eye!</p>
    </div>
    <script src=""></script>
</body>
</html>