/*Imported font families */
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

/* Global styling variables */
:root { 
  --white: #FFFFFF;
  --black: #1E1E1E;   
  --pink-red: #FE6581; 
  --yellow: #FBEDD0;  
  --aqua: #B7D4D8;  
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #FE6581 10%, #FBEDD0 59%, #B7D4D8 100%);
  text-align: justify;
  padding-top: 50px;
}
 
/* Title styling */
.title {
    color: var(--white);
    font-family: 'Gorditas', sans-serif;
    text-align: center;
    -webkit-text-stroke: 0.1rem var(--black);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 128px;
    padding-top: 100px;
    margin: 60px;
}
