<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/logo/final-logo.png">
    <title>Fruity Surprises</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/message.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
    
<body>
    <i class="fa-solid fa-arrow-left" id="arrow" onclick="window.location.href='../template/home.html'"></i>
    <div class="content-container">
        <div class="image-container">
            <a href="https://youtu.be/E07s5ZYygMg?si=YVJaW9_gXnH7uwtO" class="image-container">
                <img src="../assets/watermelon.png" alt="Watermelon">
            </a>
        </div>
        <div class="message-container">
            <p class="message">Just like a juicy watermelon on a sunny day, you bring a burst of sweetness and joy into my life. Your laughter is refreshing, and your smile is as bright as the summer sun. I'm so grateful for you—you're truly one in a melon!</p>
        </div>
    </div>
</body>
</html>